.StartScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 24.5rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  span {
    filter: drop-shadow(0 0 16px var(--primary-color));
  }
}

.StartSreenHeader {
  font-size: 4rem;
  color: var(--primary-color);
  align-items: center;
  text-align: center;
  transition: all 350ms ease-out;
}

.StartScreenInformation {
  margin: 1.8rem 1rem;
  color: var(--primary-color);
  font-size: 2.3rem;
  align-items: center;
  text-align: center;
  transition: all 350ms ease-out;
}
