.Tetris {
  width: 100%;
  max-width: 33rem;
  margin: 0 auto;
  outline: none;

  > section {
    display: grid;
    grid-template-columns: auto 8rem;
    position: relative;
    height: 40rem;
    border: 0.3rem inset;
    border-radius: 0.5rem;
    background-color: gray;
  }

  button {
    width: 100%;
    padding: 0.5rem 1.7rem;
    border: greenyellow outset;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;

    &:disabled {
      background: gray;
      border-color: darkgrey;
      color: #333;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }
  }

  aside {
    display: grid;
    grid-template-rows: 9rem 3rem 3rem 3rem auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8rem;
    padding: 0.5rem 0.2rem;
    border: silver outset;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: white;

    > div {
      align-self: end;

      &:first-child {
        align-self: start;
        height: 8rem;
      }
    }
  }

  button {
    width: 100%;
    height: fit-content;
    align-self: flex-end;
    padding: 0.5rem 1.7rem;
    border: 0;
    border-radius: 0.5rem;
    color: #333333;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
  }

  .PlayButton {
    background-color: greenyellow;
  }

  .PlayAgainButton {
    background-color: orange;
  }

  .HomeButton {
    background-color: cyan;
  }

  .ButtonPlacement {
    display: grid;
    gap: 0.25rem;
  }

  .buttons {
    display: none;
  }
}

@media (any-hover: none) {
  .Tetris .buttons {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    position: relative;
    z-index: 9999;
    margin-top: 1rem;
    color: white;

    > button {
      font-size: 3rem;
      pointer-events: all;
    }

    .button {
      background: orange;
    }
  }
}
