.Tetris {
  position: relative;
  width: 100%;
  height: 40rem;
  max-width: 32rem;
  margin: 0 auto;
  border: 0.3rem inset;
  background-color: gray;
  outline: red;

  button {
    width: 100%;
    padding: 0.5rem 1.7rem;
    border: greenyellow outset;
    border-radius: 0.5rem;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;

    &:disabled {
      background: gray;
      border-color: darkgrey;
      color: #333;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }
  }

  aside {
    display: grid;
    grid-template-rows: 9rem 3rem 3rem 3rem auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8rem;
    padding: 0.5rem 0.2rem;
    border: silver outset;
    box-sizing: border-box;
    color: white;

    > div {
      align-self: end;

      &:first-child {
        align-self: start;
        height: 8rem;
      }
    }
  }

  .buttons {
    display: none;
  }
}

@media (any-hover: none) {
  .Tetris .buttons {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    color: white;

    > button {
      font-size: 3rem;
    }
  }
}
