.Tetris {
  position: relative;
  width: 100%;
  height: 40rem;
  max-width: 32rem;
  margin: 0 auto;
  border: 0.3rem inset;
  background-color: gray;
  outline: red;

  aside {
    display: grid;
    grid-template-rows: 9rem 3rem 3rem 3rem auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 8rem;
    padding: 0.5rem 0.2rem;
    border: silver outset;
    box-sizing: border-box;
    color: white;

    > div {
      align-self: end;

      &:first-child {
        align-self: start;
        height: 8rem;
      }
    }
  }
}

.PlayButton {
  width: 100%;
  height: fit-content;
  align-self: flex-end;
  padding: 0.5rem 1.7rem;
  border: greenyellow outset;
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.PlayAgainButton {
  width: 100%;
  height: fit-content;
  align-self: flex-end;
  padding: 0.5rem 1.7rem;
  border-radius: 0.5rem;
  background-color: orange;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.HomeButton {
  width: 100%;
  height: fit-content;
  align-self: flex-end;
  padding: 0.5rem 1.7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
