.scoreScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #003459;
  z-index: 1;
}

.TetrisHeader {
  width: 30rem;
  margin: 0 auto;
}

.PlayButton {
  background-color: #fed546;
  width: 339px !important;
  justify-self: center;
}

.container {
  display: grid;
  place-content: center;
}

.ScoreBoardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  gap: 0.5rem;
  color: white;

  li {
    & > div {
      background-color: #29cff5;
      width: 25rem;
      height: 1.25rem;
      color: black;
    }
    &:nth-child(1) > * {
      background-color: #ff5f63;
      height: 3rem;
      width: 34rem;
    }
    &:nth-child(2) > * {
      background-color: #fed546;
      height: 2.5rem;
      width: 31rem;
    }
    &:nth-child(3) > * {
      background-color: #49bca1;
      height: 2rem;
      width: 27.5rem;
    }
  }
}
