.App {
  .AppHeader {
    height: 5rem;
    color: var(--primary-color);
    text-align: center;
    line-height: 5rem;
    font-size: 4rem;
    filter: drop-shadow(0 0 16px var(--primary-color));
  }
}
